.center{
    margin-left:200px;
    background-color: #b7adad;
    margin-right: 400px;
    height: 50px;
    justify-content: end;
}
.in{
    margin-left: 300px;
}

/* } */
/* .h1{
    height: 50px;
    width: 300px;
    background-color: #171414;
    margin-left: 0px; */
/* } */
.block1{
    height: 150px;
    width: 200px;
    border: 5px solid black;
    float: right;
    margin-right: 400px;
    margin-top: 10px;

}
.block2 {
    height: 200px;
    width: 350px;
    border: 5px solid black ;
    margin-left: 200px;
    margin-top: 10px;
}
.block3 {
    height: 200px;
    width: 350px;
    border: 5px solid black;
    margin-left: 200px;
    margin-top: 10px;
}